In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [3]:
ticker = 'RNEW11'
df_history = yf.download(tickers=f"{ticker}.SA", period='2y')

[*********************100%***********************]  1 of 1 completed

In [4]:
df_history

                 Open       High    Low      Close  Adj Close  Volume
Date
2019-04-23  30.000000  31.150000  29.57  31.150000  31.150000    1900
2019-04-24  30.860001  30.860001  28.43  29.879999  29.879999   19400
2019-04-25  29.410000  30.830000  29.41  30.000000  30.000000    3600
2019-04-26  30.000000  31.870001  30.00  31.870001  31.870001    8200
2019-04-29  30.680000  32.889999  30.68  32.889999  32.889999    8800
...               ...        ...    ...        ...        ...     ...
2021-04-16  12.500000  12.500000  12.17  12.400000  12.400000    5500
2021-04-19  12.210000  12.500000  12.10  12.360000  12.360000    8200
2021-04-20  12.300000  12.400000  12.20  12.260000  12.260000    1600
2021-04-22  12.270000  12.480000  12.24  12.270000  12.270000    2300
2021-04-23  12.230000  12.500000  12.00  12.400000  12.400000   12600

[494 rows x 6 columns]