In [1]:
import pandas as pd
import os

In [2]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.options.display.max_rows = 1000

In [3]:
root_path = os.path.dirname(os.path.abspath(''))
consoliado_path = os.path.join(
    root_path, "data", "df_consolidado.parquet")

In [4]:
df = pd.read_parquet(consoliado_path)

In [5]:
df.shape

(71526, 595)

In [6]:
df.head()

,ticker,symbol,close,date,ticker.AALR3,ticker.AAPL34,ticker.ABEV3,ticker.ABTT34,ticker.AFLT3,ticker.AGRO3,...,CommonStockEquity_2,CommonStockEquity_3,TotalLiabilitiesNetMinorityInterest_0,TotalLiabilitiesNetMinorityInterest_1,TotalLiabilitiesNetMinorityInterest_2,TotalLiabilitiesNetMinorityInterest_3,StockholdersEquity_0,StockholdersEquity_1,StockholdersEquity_2,StockholdersEquity_3
0,AALR3,AALR,13.21,2019-06-07,1,0,0,0,0,0,...,0.07,0.07,0.00,0.00,0.00,0.00,0.07,0.07,0.07,0.07
1,AALR3,AALR,13.37,2019-06-10,1,0,0,0,0,0,...,0.07,0.07,0.00,0.00,0.00,0.00,0.07,0.07,0.07,0.07
2,AALR3,AALR,13.90,2019-06-11,1,0,0,0,0,0,...,0.07,0.07,0.00,0.00,0.00,0.00,0.07,0.07,0.07,0.07
3,AALR3,AALR,14.00,2019-06-12,1,0,0,0,0,0,...,0.07,0.07,0.00,0.00,0.00,0.00,0.07,0.07,0.07,0.07
4,AALR3,AALR,13.55,2019-06-13,1,0,0,0,0,0,...,0.07,0.07,0.00,0.00,0.00,0.00,0.07,0.07,0.07,0.07

In [10]:
df['date']

0       2019-06-07
1       2019-06-10
2       2019-06-11
3       2019-06-12
4       2019-06-13
           ...
71521   2021-05-31
71522   2021-06-01
71523   2021-06-02
71524   2021-06-04
71525   2021-06-07
Name: date, Length: 71526, dtype: datetime64[ns]

In [11]:
import numpy as np
import pandas as pd
import datetime as dt

X_test = pd.DataFrame(np.array([
   ['2020-01-24T00:00:00.000000000'],
   ['2020-01-25T00:00:00.000000000'],
   ['2020-01-26T00:00:00.000000000'],
   ['2020-01-27T00:00:00.000000000'],
   ['2020-01-28T00:00:00.000000000'],
   ['2020-01-29T00:00:00.000000000'],
   ['2020-01-30T00:00:00.000000000'],
   ['2020-01-31T00:00:00.000000000'],
   ['2020-02-01T00:00:00.000000000'],
   ['2020-02-02T00:00:00.000000000']], dtype='datetime64[ns]'))

X_test.columns = ["Date"]
X_test['Date'] = pd.to_datetime(X_test['Date'])
X_test['Date']=X_test['Date'].map(dt.datetime.toordinal)

In [12]:
X_test

     Date
0  737448
1  737449
2  737450
3  737451
4  737452
5  737453
6  737454
7  737455
8  737456
9  737457