In [9]:
import pandas as pd
import os

In [10]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.options.display.max_rows = 1000

In [11]:
root_path = os.path.dirname(os.path.abspath(''))
consoliado_path = os.path.join(
    root_path, "data", "df_consolidado.parquet")

In [12]:
df = pd.read_parquet(consoliado_path)

In [13]:
df.shape

(71530, 595)

In [14]:
df.head()

,ticker,symbol,close,date,ticker.AALR3,ticker.AAPL34,ticker.ABEV3,ticker.ABTT34,ticker.AFLT3,ticker.AGRO3,...,CommonStockEquity_2,CommonStockEquity_3,TotalLiabilitiesNetMinorityInterest_0,TotalLiabilitiesNetMinorityInterest_1,TotalLiabilitiesNetMinorityInterest_2,TotalLiabilitiesNetMinorityInterest_3,StockholdersEquity_0,StockholdersEquity_1,StockholdersEquity_2,StockholdersEquity_3
0,AALR3,AALR,13.21,2019-06-07,1,0,0,0,0,0,...,0.07,0.07,0.00,0.00,0.00,0.00,0.07,0.07,0.07,0.07
1,AALR3,AALR,13.37,2019-06-10,1,0,0,0,0,0,...,0.07,0.07,0.00,0.00,0.00,0.00,0.07,0.07,0.07,0.07
2,AALR3,AALR,13.90,2019-06-11,1,0,0,0,0,0,...,0.07,0.07,0.00,0.00,0.00,0.00,0.07,0.07,0.07,0.07
3,AALR3,AALR,14.00,2019-06-12,1,0,0,0,0,0,...,0.07,0.07,0.00,0.00,0.00,0.00,0.07,0.07,0.07,0.07
4,AALR3,AALR,13.55,2019-06-13,1,0,0,0,0,0,...,0.07,0.07,0.00,0.00,0.00,0.00,0.07,0.07,0.07,0.07

In [7]:
len(df[df['ticker'] == 'AALR3'])

1968

In [8]:
len(df[df['ticker'] == 'AALR3']['date'].unique())

492