In [1]:
from typing import List
import pandas as pd
import os

In [2]:
 pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [3]:
 pd.options.display.max_rows = 1000

In [4]:
root_path = os.path.dirname(os.path.abspath(''))
consoliado_path = os.path.join(
    root_path, "data", "df_fundamentalista.parquet")

In [8]:
df = pd.read_parquet(consoliado_path)

In [9]:
df.shape

(1315, 47)

In [10]:
# Find missing dates
for symbol in df['symbol'].unique():
    df_symbol = df[df['symbol'] == symbol]
    if df_symbol.shape[0] < 4:
        print(f'Missing values for {symbol}, total data {df_symbol.shape[0]} of 4')

Missing values for AGRO, total data 3 of 4
Missing values for AIRB, total data 2 of 4
Missing values for None, total data 0 of 4
Missing values for AVLL, total data 1 of 4
Missing values for BOAS, total data 3 of 4
Missing values for CMIG, total data 2 of 4
Missing values for COGN, total data 3 of 4
Missing values for CPFE, total data 1 of 4
Missing values for CSED, total data 3 of 4
Missing values for CURY, total data 3 of 4
Missing values for DMVF, total data 3 of 4
Missing values for ELMD, total data 1 of 4
Missing values for ENJU, total data 1 of 4
Missing values for ESPA, total data 1 of 4
Missing values for GMAT, total data 1 of 4
Missing values for IGBR, total data 3 of 4
Missing values for INEP, total data 3 of 4
Missing values for INTB, total data 3 of 4
Missing values for JALL, total data 1 of 4
Missing values for LAVV, total data 3 of 4
Missing values for LPSB, total data 1 of 4

In [11]:
df[df['symbol'] == 'AIRB']

,symbol,asOfDate,NetIncomeFromContinuingOperations,ReconciledDepreciation,ChangeInCashSupplementalAsReported,ChangeInWorkingCapital,InvestingCashFlow,BeginningCashPosition,FinancingCashFlow,EndCashPosition,...,NormalizedIncome,DilutedNIAvailtoComStockholders,ShareIssued,NetTangibleAssets,TotalEquityGrossMinorityInterest,TotalAssets,TangibleBookValue,CommonStockEquity,TotalLiabilitiesNetMinorityInterest,StockholdersEquity
30,AIRB,2020-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.03,0.37,0.06,0.00,0.39,0.07,0.00,0.06
31,AIRB,2020-12-31,0.11,0.00,0.96,0.97,0.80,0.00,0.73,0.00,...,0.33,0.33,0.03,0.37,0.07,0.00,0.39,0.08,0.00,0.07