In [1]:
from typing import List
import pandas as pd
import os

In [3]:
 pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
 pd.options.display.max_rows = 1000

In [4]:
root_path = os.path.dirname(os.path.abspath(''))
consoliado_path = os.path.join(
    root_path, "data", "df_fundamentalista.parquet")

In [43]:
df = pd.read_parquet(consoliado_path)

In [44]:
df.shape

(656, 47)

In [45]:
df.head()

,symbol,asOfDate,NetIncomeFromContinuingOperations,ReconciledDepreciation,ChangeInCashSupplementalAsReported,ChangeInWorkingCapital,InvestingCashFlow,BeginningCashPosition,FinancingCashFlow,EndCashPosition,...,NormalizedIncome,DilutedNIAvailtoComStockholders,ShareIssued,NetTangibleAssets,TotalEquityGrossMinorityInterest,TotalAssets,TangibleBookValue,CommonStockEquity,TotalLiabilitiesNetMinorityInterest,StockholdersEquity
0,AALR,2020-06-30,0.14,0.00,0.96,0.97,0.80,0.00,0.73,0.00,...,0.41,0.41,0.01,0.37,0.06,0.00,0.39,0.07,0.00,0.07
1,AALR,2020-09-30,0.14,0.00,0.96,0.97,0.80,0.00,0.73,0.00,...,0.41,0.41,0.01,0.37,0.06,0.00,0.39,0.07,0.00,0.07
2,AALR,2020-12-31,0.14,0.00,0.96,0.97,0.80,0.00,0.73,0.00,...,0.41,0.41,0.01,0.37,0.06,0.00,0.39,0.07,0.00,0.07
3,AALR,2021-03-31,0.14,0.00,0.96,0.97,0.80,0.00,0.73,0.00,...,0.41,0.41,0.01,0.37,0.06,0.00,0.39,0.07,0.00,0.07
0,AAPL,2020-06-30,0.22,0.01,0.96,0.97,0.79,0.00,0.71,0.01,...,0.64,0.64,0.99,0.57,0.30,0.09,0.60,0.34,0.07,0.30

In [ ]:
for ticket in df['symbol'].unique():